.account-page
{
    color:#fff;
    background-color: #4e657a;
    margin:0;
}
.extra-space
{
    background-color: #4e657a;
    color:#4e657a;
}
.acc-container
{
    margin:0 13%;
}
.loa-con
{
    background-color:#435c70;
    margin-top: 35px;
    height:220px;
}
.loa-con h2
{
    padding:25px 40px;
    font-size: 20px;
    padding-bottom: 15px;
}
.loa-con p
{
    padding:0px 40px;
}
.dropdown
{
    background-color: #4e657a;
    color: #acc6de;
    margin:0px 40px;
    width:92%;
    font-size: 17px;
    border:0;
    padding:15px 20px;
}
option
{
    padding:20px 30px;
    font-size: 15px;
}
.as-con
{
    display:flex;
}
.avatar-con
{
    background-color:#435c70;
    height:450px;
    width:36%;
    margin-top: 35px;
    margin-bottom: 50px;
}
.avatar-con h2
{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    padding:10px 40px;
}
.avatar-con i
{
   font-size: 20px;
   background-color: #394e64;
   border-radius:50%;
   padding:15px;
   position: absolute;
   top:79%;
   left:25%;
   display: none;
   transition-duration: 5s;
}
.avatar-con img
{
    cursor: pointer;
    width:325px;
    margin-left:40px;
    margin-right:40px;
    height:265px;
    display: block;
}
.image-con:hover i{
        display: block;
    }
.set-con
{
    background-color:#435c70;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.set-con h2
{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
    padding-top:20px;
}
.set-con .acc-form
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    margin-right: 15px;
}
.form
{
    padding: 19px 18px;
    border-radius: 0;
    height: 15px;
    background-color: #54657d;
    color: #fff;
    border: 0;
    display: block;
    width:250px;
    margin-right:25px;
}
.choose-file
{
    position: absolute;
    top:800px;
    left:290px;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
}
.upload-pic-btn
{
    margin-left:40px;
    margin-right:40px;
    width:80%;
    padding:20px 15px;
}
.delete-btn
{
    width:300%;
    padding:15px 15px;
}
.update-btn
{
    padding:15px 15px;
    width:44%;
    height:50px;
    margin-top:30px;
}
.acc-form-group
{
    margin-bottom: 15px;
    margin-top:10px;
}
@media (max-width: 1300px)
{
    .avatar-con img
{
    width:260px;
    margin-left:40px;
    margin-right:40px;
    height:265px;
}
.update-btn
{
    padding:15px 15px;
    width:290px;
    height:50px;
    margin-top:30px;
}
.delete-btn
{
    width:290px;
    padding:15px 15px;
    position:relative;
    top:0px;
    left:0px;
}
}
@media (max-width: 1200px)
{
    .avatar-con img
{
    width:230px;
    margin-left:40px;
    margin-right:40px;
    height:265px;
}
}
@media (max-width: 1100px)
{
    .avatar-con
{
    background-color:#435c70;
    height:450px;
    width:99%;
    margin-top: 35px;
    margin-bottom: 50px;
}
    .as-con
{
    display:block;
}
.set-con
{
    background-color:#435c70;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.avatar-con img
{
    width:350px;
    margin-left:40px;
    margin-right:40px;
    height:265px;
}
}
@media (max-width: 574px)
{
.dropdown {
    margin: 0px 40px;
    width: 420px;
    font-size: 25px;
    padding: 25px 20px;
}
.delete-btn
{
    width:435px;
    padding:25px 15px;
}
.update-btn
{
    width:435px;
    height:80px;
}
.choose-file
{
    position: absolute;
    top:970px;
    left:130px;
    height:50px;
    background-color: transparent;
    background-color: red;
    opacity: 0;
    cursor: pointer;
}
.as-con {
    display: block;
}
.acc-container {
    margin: 30px 20px;
    margin-bottom:0;
}
.loa-con h2 {
    padding: 25px 40px;
    font-size: 30px;
    padding-bottom: 15px;
}
.loa-con p {
    padding: 0px 40px;
    font-size: 25px;
}
.loa-con {
    background-color: #435c70;
    margin-top: 5px;
    height: 260px;
}
.avatar-con {
    height: 620px;
    width: 500px;
    margin-top: 35px;
    margin-bottom: 50px;
}
.avatar-con h2 {
    font-size: 25px;
    margin-bottom: 30px;
    padding: 30px 40px;
}
.avatar-con img {
    width: 420px;
    margin-left: 40px;
    height: 350px;
}
.upload-pic-btn {
    width: 84%;
}
.set-con .acc-form {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    margin-right: 15px;
}
.set-con {
    height: 1180px;
    margin-top: 35px;
    width: 500px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.set-con h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 40px;
}
.form {
    padding: 19px 18px;
    height: 25px;
    display: block;
    width: 400px;
    margin-right: 25px;
}
.avatar-con i
{
   font-size: 20px;
   border-radius:50%;
   padding:15px;
   position: absolute;
   top:720px;
   left:250px;
}
.acc-form-group
{
    margin-bottom: 25px;
    margin-top:20px;
    font-size: 20px;
}
.acc-form-group input
{
    font-size: 20px;
    margin-top: 20px;
}

}